body{
    margin: 0;
}
table{
    border-collapse: collapse;
}
td{
    width: 20px;
    height: 20px;
    margin: 0;
    border: 1px solid black;
}

@keyframes appear {
    from{
        transform: scale(.5);
        border-radius: 50%;
    }
    to{
        border-radius: 0%;
        transform: scale(1);
    }
}
.wall{
    animation: appear 0.5s ;
    animation-delay: calc(0.5s * counter(wall_number));
    background-color: black;
}
nav{
    background-color: darkcyan;
    color: white;
    padding: 10px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#modes{
    display: flex;
}
.active{
    background-color: red;
    animation: appear 0.5s;

}
.start{
    background-color: green;
    animation: appear 0.5s;

}
.end{
    background-color: blue;
    animation: appear 0.5s;
}
@keyframes visited_appear {
    from{
        background-color: aqua;
        transform: scale(.5);
        border-radius: 50%;
    }
    to{
        border-radius: 0%;
        transform: scale(1);
        background-color: rgb(100, 206, 129);
    }
}
.visited{
    background-color: rgb(100, 206, 129);
    animation: visited_appear .5s;
}


table {
    counter-reset: wall_number; /* Initialize the counter in the parent element */
}

td.wall {
    counter-increment: wall_number; /* Increment the counter for each .wall element */
    animation-delay: calc(0.1s * counter(wall_number)); /* Use the counter value directly in calc() */
}

td.wall:before {
    color: aqua;
    content: counter(wall_number); /* Display the counter value before each .wall element */
}
